
.Rproj.user/shared/notebooks/paths
.Rproj.user/C22405B2/sources/prop/INDEX
.Rproj.user/C22405B2/sources/session-7afee592/00FB93C0-contents
.Rproj.user/C22405B2/sources/session-7afee592/00FB93C0
.Rproj.user/C22405B2/sources/prop/E86EC81B
.Rproj.user/C22405B2/sources/prop/F58E5969
.Rproj.user/C22405B2/sources/session-7afee592/DACD7ADC-contents
.Rproj.user/C22405B2/sources/session-7afee592/DACD7ADC
.Rproj.user/C22405B2/sources/session-7afee592/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
