
.Rproj.user/shared/notebooks/paths
.Rproj.user/C22405B2/sources/prop/INDEX
.Rproj.user/C22405B2/sources/session-7afee592/00FB93C0-contents
.Rproj.user/C22405B2/sources/session-7afee592/00FB93C0
.Rproj.user/C22405B2/sources/prop/E86EC81B
.Rproj.user/C22405B2/sources/prop/F58E5969
.Rproj.user/C22405B2/sources/session-7afee592/DACD7ADC-contents
.Rproj.user/C22405B2/sources/session-7afee592/DACD7ADC
.Rproj.user/C22405B2/sources/session-7afee592/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
*.pper
.Rproj.user/C22405B2/sources/session-7afee592/01705379-contents
.Rhistory
.Rproj.user/C22405B2/rmd-outputs
.Rproj.user/C22405B2/saved_source_markers
.Rproj.user/C22405B2/sources/session-7afee592/034B3B1F-contents
.Rproj.user/C22405B2/sources/session-7afee592/049FD785
.Rproj.user/C22405B2/sources/session-7afee592/049FD785-contents
.Rproj.user/C22405B2/sources/session-7afee592/08905B53-contents
.Rproj.user/C22405B2/sources/session-7afee592/4611C1F7-contents
.Rproj.user/C22405B2/sources/session-7afee592/5A1F3763-contents
.Rproj.user/C22405B2/sources/session-7afee592/6BB54FAC-contents
.Rproj.user/C22405B2/sources/session-7afee592/76C2E7A3-contents
.Rproj.user/C22405B2/sources/session-7afee592/8B3F13E0
.Rproj.user/C22405B2/sources/session-7afee592/8B3F13E0-contents
.Rproj.user/C22405B2/sources/session-7afee592/8C94A979-contents
.Rproj.user/C22405B2/sources/session-7afee592/A15E291C-contents
.Rproj.user/C22405B2/sources/session-7afee592/AD9038CD
.Rproj.user/C22405B2/sources/session-7afee592/AD9038CD-contents
.Rproj.user/C22405B2/sources/session-7afee592/B0E0A623-contents
.Rproj.user/C22405B2/sources/session-7afee592/C7EC99AE-contents
.Rproj.user/C22405B2/sources/session-7afee592/CA9DD901-contents
.Rproj.user/C22405B2/sources/session-7afee592/D60C1887-contents
.Rproj.user/C22405B2/sources/session-7afee592/DAFF87A9
.Rproj.user/C22405B2/sources/session-7afee592/DAFF87A9-contents
.Rproj.user/C22405B2/sources/session-7afee592/E989D468-contents
.Rproj.user/C22405B2/sources/per/t/19EA8B30
.Rproj.user/C22405B2/sources/per/t/19EA8B30-contents
*.Rdata
.Rproj.user/C22405B2/sources/session-7afee592/F1649D98-contents
.Rproj.user/C22405B2/sources/session-7afee592/F09E0B60-contents
.Rproj.user/C22405B2/sources/session-7afee592/E2B73684-contents
.Rproj.user/C22405B2/sources/session-7afee592/C94C20BB-contents
.Rproj.user/C22405B2/sources/session-7afee592/BD0584E1-contents
.Rproj.user/C22405B2/sources/session-7afee592/BD0584E1
.Rproj.user/C22405B2/sources/session-7afee592/BCD4D19C-contents
.Rproj.user/C22405B2/sources/session-7afee592/B12A7298-contents
.Rproj.user/C22405B2/sources/session-7afee592/AF425DCA-contents
.Rproj.user/C22405B2/sources/session-7afee592/AA98B7E7-contents
.Rproj.user/C22405B2/sources/session-7afee592/A98B017E-contents
.Rproj.user/C22405B2/sources/session-7afee592/951BD168-contents
.Rproj.user/C22405B2/sources/session-7afee592/8F38B169-contents
.Rproj.user/C22405B2/sources/session-7afee592/8F38B169
.Rproj.user/C22405B2/sources/session-7afee592/8823B192-contents
.Rproj.user/C22405B2/sources/session-7afee592/79A43177-contents
.Rproj.user/C22405B2/sources/session-7afee592/762F80B5-contents
.Rproj.user/C22405B2/sources/session-7afee592/75F5347F-contents
.Rproj.user/C22405B2/sources/session-7afee592/6BCC7B89-contents
.Rproj.user/C22405B2/sources/session-7afee592/69763388-contents
.Rproj.user/C22405B2/sources/session-7afee592/6940F529-contents
.Rproj.user/C22405B2/sources/session-7afee592/6940F529
.Rproj.user/C22405B2/sources/session-7afee592/645B87F1-contents
.Rproj.user/C22405B2/sources/session-7afee592/5CF3BB46-contents
.Rproj.user/C22405B2/sources/session-7afee592/49B00247-contents
.Rproj.user/C22405B2/sources/session-7afee592/3FC4716C-contents
.Rproj.user/C22405B2/sources/session-7afee592/2B2CD72B-contents
.Rproj.user/C22405B2/sources/session-7afee592/264BA722-contents
.Rproj.user/C22405B2/sources/session-7afee592/2475FA93-contents
.Rproj.user/C22405B2/sources/session-7afee592/20321917-contents
.Rproj.user/C22405B2/sources/session-7afee592/1EFD17E7-contents
.Rproj.user/C22405B2/sources/session-7afee592/0D393E1C-contents
.Rproj.user/C22405B2/sources/session-7afee592/0A890906-contents
.Rproj.user/C22405B2/sources/session-7afee592/08F551A4-contents
.Rproj.user/C22405B2/sources/session-7afee592/04945F2B-contents
.Rproj.user/C22405B2/sources/session-7afee592/00D152A8-contents
.Rproj.user/C22405B2/sources/prop/743222E5
.Rproj.user/C22405B2/sources/per/u/A327CD5C-contents
.Rproj.user/C22405B2/sources/per/u/A327CD5C
.Rproj.user/C22405B2/sources/per/t/54094683-contents
.Rproj.user/C22405B2/sources/per/t/54094683
Adrift_Species_HourlyDetections.csv
Documentation/Canadian Whale Research Cover.docx
/.Rproj.user
/.Rproj.user
